<div class="editModal">
   <div class="processButtons">

   </div>
   <div class="wrapper editModalWrapper">
      <div class="modalTitle">
         <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
               <path
                  d="M505 41c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L383 95c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l88-88zM305.5 27.3c-6.2-6.2-16.4-6.2-22.6 0L271.5 38.6c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4-30.5 30.5c-3.4-27.3-15.5-53.8-36.5-74.8l-11.3-11.3c-6.2-6.2-16.4-6.2-22.6 0l-11.3 11.3c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4-30.5 30.5c-3.4-27.3-15.5-53.8-36.5-74.8L101.8 231c-6.2-6.2-16.4-6.2-22.6 0L67.9 242.3c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4L9.4 457.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l68.9-68.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0l11.3-11.3c6.2-6.2 6.2-16.4 0-22.6l-11.3-11.3c-21.8-21.8-49.6-34.1-78.1-36.9l31.9-31.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0l11.3-11.3c6.2-6.2 6.2-16.4 0-22.6l-11.3-11.3c-21.8-21.8-49.6-34.1-78.1-36.9l31.9-31.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0L486.5 231c6.2-6.2 6.2-16.4 0-22.6L475.2 197c-5.2-5.2-10.6-9.8-16.4-13.9L505 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-59.4 59.4c-20.6-4.4-42-3.7-62.3 2.1c6.1-21.3 6.6-43.8 1.4-65.3L409 41c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L329.1 52.9c-3.7-5-7.8-9.8-12.4-14.3L305.5 27.3z" />
            </svg>
            <span>Πληροφορίες ατόμου</span>
         </a>
      </div>


      <form id="editForm">
         <div class="formData">
            <div class="side">
               <div class="area">
                  <input type="text" value="{{data.name}}" name="name">
                  <span>Όνομα</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.lastName}}" name="lastName">
                  <span>Επώνυμο</span>
               </div>

               <div class="area">
                  <input type="email" value="{{data.email}}" name="email">
                  <span>E-mail</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.phone}}" name="phone">
                  <span>Τηλέφωνο</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.taxNO}}" name="taxNO">
                  <span>Α.Φ.Μ</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.idNO}}" name="idNO">
                  <span>Α.Δ.Τ</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.IBAN}}" name="IBAN">
                  <span>IBAN</span>
               </div>
            </div>


            <div class="side">
               <div class="area">
                  <input type="text" value="{{data.fatherName}}" name="fatherName">
                  <span>Όνομα Πατέρα</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.motherName}}" name="motherName">
                  <span>Όνομα Μητέρας</span>
               </div>

               <div class="area">
                  <input type="date" value="{{data.birthDay}}" name="birthDay">
                  <span>Ημερομηνία Γέννησης</span>
               </div>

               <div class="area">
                  <input type="text" value="{{data.address}}" name="address">
                  <span>Διεύθυνση</span>
               </div>

               <div class="area">
                  <select name="county">
                     <option value="{{data.county}}" selected>{{data.county}}</option>
                     <option value="rodopis">ΡΟΔΟΠΗ</option>
                     <option value="xanthis">ΞΑΝΘΗ</option>
                     <option value="evrou">ΕΒΡΟΥ</option>
                  </select>
               </div>

               <div class="area">
                  <select name="city">
                     <option value="{{data.city}}" selected>{{data.city}}</option>
                     <option value="komotini">ΚΟΜΟΤΗΝΗ</option>
                     <option value="xanthi">ΞΑΝΘΗ</option>
                     <option value="alexandroupoli">ΑΛΕΞΑΝΔΡΟΥΠΟΛΥ</option>
                     <option value="sapes">ΣΑΠΕΣ</option>
                  </select>
               </div>

               <div class="area">
                  <input type="text" value="{{data.postCode}}" name="postCode">
                  <span>Τ.Κ</span>
               </div>
            </div>
         </div>


         <div class="message">
            <p id="editMessage"></p>
         </div>


         <div class="buttons">
            <button id="deleteButton" title="Delete" type="button">
               Διαγράφω
            </button>
            <button type="submit">Εκσυγχρονίζω</button>
         </div>
      </form>
   </div>
</div>



<script type="module">
   import { clearMessage, timingReload } from '/js/allFunctions.js'
   const editForm = document.getElementById('editForm')
   const editMessage = document.getElementById('editMessage')
   const deleteButton = document.getElementById('deleteButton');


   editForm.addEventListener('submit', (event) => {
      event.preventDefault()
      let id = window.location.href.split('/')
      id = id[id.length - 1]

      const formData = new FormData(event.target)
      formData.append('id', id);
      editMessage.innerHTML = ''

      fetch('/edit', {
         method: 'post',
         body: formData
      }).then(response => response.json())
         .then((res) => {
            if (res.state) {
               editMessage.style.color = '#8DECB4'
               editMessage.innerHTML = res.message
               timingReload(3);
            }
            else {
               editMessage.style.color = '#FA7070'
               editMessage.innerHTML = res.message
               clearMessage(editMessage, 7);
            }
         })
   })



   deleteButton.addEventListener('click', () => {
      let id = window.location.href.split('/')
      id = id[id.length - 1]
      fetch(`/delete/${id}`, { method: 'get' })
         .then(response => response.json())
         .then((res) => {
            editMessage.innerHTML = ''
            if (res.state) {
               editMessage.style.color = '#75A47F'
               editMessage.innerHTML = res.message
               setTimeout(() => {
                  window.location.href = '/'
               }, 1000)
            }
            else {
               editMessage.style.color = '#FA7070'
               editMessage.innerHTML = res.message
               clearMessage(editMessage, 5);
            }
         })
   })
</script>